.navbar-custom{
    position: fixed;
    left: 0;
    top: 0;
    width: 10%;
    height: 40px;
    z-index: 3;
    background: transparent;
    border: none;
}

.navbar-custom .icon-bar{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 5px 0 6px 0;
}

.navbar-custom .icon-bar:first-child{
    margin-top: 0;
}
navbar-custom .icon-bar:last-child{
    margin-bottom: 0;
}


.navbar-main-content{
    position: fixed;
    left: -500px;
    top: 0;
    width: 26%;
    height: 100%;
    z-index: 3;
    background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    background-image: -webkit-linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    transition: all 0.4s ease-out;
}
.navbar-main-content .nav-content-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.navbar-main-content  .close-btn-holder{
    position: relative;
    z-index: 3;
    cursor: pointer;
}
.navbar-main-content  .close-btn-holder .close-btn{ 
    position: absolute;
    right: 1em;
    top: 2em;
    width: 39px;
    height: 34px;
}
.navbar-main-content  .close-btn-holder .close-btn:before, .navbar-main-content  .close-btn-holder .close-btn:after{
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #DFF1F2;
  opacity: 0.6;
  left: 15px;
}
.navbar-main-content  .close-btn-holder .close-btn:before {
  transform: rotate(45deg);
}
.navbar-main-content  .close-btn-holder .close-btn:after {
  transform: rotate(-45deg);
}

.navbar-main-content ul li{
    list-style: none;
    padding: 10px 0;
}

.navbar-main-content ul li a{
    text-decoration:none;
    color: #fff;
    font-family: MontserratThin;
}

.open{
    left: 0;

    -webkit-transition: transform 2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.4s ease-in;
    
    /*-webkit-transform: translateX(-1px);
    transform: translateX(-1px);*/

    /*transform: scale3d(1.1, 1.1, 1.1);*/
}
.navbar-custom.open{
    display: none;
}

@media (min-width: 48em) {
 /*tablet css, will inherit styles from mobile*/
    .navbar-custom{
        width: 8%;
    }
}
@media (min-width: 80em) {
 /*desktop css, will inherit styles from mobile and tablet*/
    .navbar-custom{
        width: 4%;
    }
}