<div class="intro-container" [ngClass]="{ 'active' : pageLoaded }">
    <div class="overlay"></div>
    <div class="intro-content">
      <h4>Welcome !</h4>
      <div id="rain">
        <img src="assets/images/clud-big.png" alt="cloud" class="img-responsive">
        <div class="drops">
          <img src="assets/images/drop.png" alt="cloud" style="left:45%;top: -30%" class="img-responsive slideDown1 slideDown">
          <img src="assets/images/drop.png" alt="cloud" style="left: 68%;top: -50%" class="img-responsive slideDown2 slideDown">
          <img src="assets/images/drop.png" alt="cloud" style="left: 23%;top: -45%" class="img-responsive slideDown3 slideDown">
          <img src="assets/images/drop.png" alt="cloud" style="left: 57%;top: -40%" class="img-responsive slideDown4 slideDown">
          <img src="assets/images/drop.png" alt="cloud" style="left: 77%;top: -80%" class="img-responsive slideDown5 slideDown">
        </div>
      </div>
      <div class="intro-navigation">
        <button class="btn btn-primary">Download my resume</button>
        <button class="btn btn-primary custom-btn">Download my resume</button>
        <button class="btn btn-primary custom-btn">Download my resume</button>
        <button class="btn btn-primary">Download my resume</button>
      </div>
    </div>
</div>
